@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor: @ViewData["Nome"] </p> 

<address>
    <strong>Site Banco Central: </strong> <a href="https://www.bcb.gov.br/"> Banco Central </a>
</address>